<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopme')"></head>

<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	
	<div class="container">
		<div>
			<h1>Shopping by Categories</h1>
		</div>

		<div class="row">
			<div th:each="cat : ${listNoChildrenCategories}" class="my-3 mx-1" style="max-width: 80px;">
				<a th:href="@{'/c/' + ${cat.alias}}" class="text-decoration-none">
					<div class="card h-100">
						<img class="card-img-top mx-auto mt-2" th:src="@{${cat.imagePath}}" th:alt="${cat.name}">
						<div class="card-footer text-center p-1 fw-bold mt-auto">
							<span class="">[[${cat.name}]]</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div th:replace="navigation :: footer_menu"></div>
</body>

</html>