<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="header_menu">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a th:href="@{/}" class="navbar-brand">
                <img th:src="@{${SITE_LOGO}}" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar, #searchNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/careers}">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/payments}">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/payments}">Shipping &amp; Deliver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/payments}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/payments}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div th:fragment="search_nav" class="row">
        <div class="col-md">
            <nav class="navbar navbar-expand-sm bg-light">
                <div class="collapse navbar-collapse" id="searchNavbar">
                    <form th:action="@{/search}" method="get" class="form-inline">
                        <input type="search" name="keyword" class="form-control mr-3" required
                            placeholder="Enter keyword..." th:value="${keyword}">
                        <input type="submit" value="Search" class="btn btn-outline-success">
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div th:fragment="footer_menu" th:remove="tag">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark mt-5">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/careers}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/payments}">Privacy Notice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/payments}">Returns &amp; Refunds</a>
                </li>
            </ul>
        </nav>
        <div th:fragment="footer" class="text-center m-3">
            <p>[[${COPYRIGHT}]]</p>
        </div>
    </div>
</body>

</html>