<!DOCTYPE html>
<html xmlns:th="http://www:thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Home - Shopme Admin</title>
</head>

<body>
    <div class="container-fluid">
        <div>
            <h1>Shopme Control Panel</h1>
        </div>

        <div>
            <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>
    </div>

</body>

</html>