<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"></head>

<body>
	<div th:replace="navigation :: header_menu"></div>

	<div class="container">
		<div th:replace="breadcrumb :: content"></div>

		<div class="row text-center">
			<th:block th:each="cat : ${category.children}">
				<div th:if="${cat.enabled == true}" class="my-3 mx-2" style="max-width: 100px;">
					<a th:href="@{'/c/' + ${cat.alias}}" class="text-decoration-none">
						<div class="card h-100">
							<img class="card-img-top mx-auto mt-2" th:src="@{${cat.imagePath}}" th:alt="${cat.name}">
							<div class="card-footer text-center p-1 fw-bold mt-auto">
								<span class="small">[[${cat.name}]]</span>
							</div>
						</div>
					</a>
				</div>
			</th:block>
		</div>

		<h3 class="mt-5">Danh sách Sản phẩm</h3>
		<div class="row">
			<th:block th:each="product : ${listProducts}">
				<div class="col-12 col-md-4 col-xl-3 my-3 mx-auto">
					<a th:href="@{'/p/' + ${product.alias}}" class="text-decoration-none">
						<div class="card h-100">
							<img class="card-img-top mx-auto w-75 mt-2" th:alt="${product.name}"
								th:src="@{${product.mainImagePath}}" />
							<div class="card-body">
								<h4 class="card-title m-0 fs-5">
									[[${product.shortName}]]
								</h4>
							</div>
							<div class="card-footer fw-bold">
								<b th:if="${product.discountPercent <= 0}" class="text-danger ">
									$[[${product.price}]]
								</b>

								<span th:if="${product.discountPercent > 0}">
									<b class="text-danger ">$[[${product.discountPrice}]]</b>
									<del class="text-secondary">$[[${product.price}]]</del>
								</span>

							</div>
						</div>
					</a>
				</div>
			</th:block>
		</div>
	</div>

	<div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'products')"></div>

	<div th:replace="navigation :: footer_menu"></div>
</body>

</html>