<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"></head>

<body>
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>

	<div class="container">
		<div th:replace="breadcrumb :: content"></div>

		<div class="row">
			<div class="col-sm">
				<div>
					<img id="bigImage" th:src="@{${product.mainImagePath}}" index="0" th:title="${product.name}" th:alt="${product.name}"
						class="img-fluid">
				</div>
				<div class="row justify-content-center mt-3">
					<div>
						<img th:src="@{${product.mainImagePath}}" index="0" class="image-thumbnail border border-secondary m-1 p-1" th:alt="${product.name}" height="50">
					</div>
					<th:block th:each="extraImage, status : ${product.images}">
						<img th:src="@{${extraImage.imagePath}}" th:index="${status.count}" class="image-thumbnail border border-secondary m-1 p-1" th:alt="${extraImage.name}" height="50">
					</th:block>
				</div>
			</div>
			<div class="col-sm">
				<div>
					<h2>[[${product.name}]]</h2>
				</div>
				<div>
					<span>Brand: [[${product.brand.name}]]</span>
				</div>
				<div>
					List Price:
					
					<b th:if="${product.discountPercent <= 0}" class="text-danger ">
						$[[${product.price}]]
					</b>
					<del class="text-secondary" th:if="${product.discountPercent > 0}">$[[${product.price}]]</del>
				</div>
				<div th:if="${product.discountPercent > 0}">
					Price:
					<b class="text-danger ">$[[${product.discountPrice}]]</b>
					<span>([[${product.discountPercent}]]% off)</span>
				</div>
				<div>&nbsp;</div>
				<div th:utext="${product.shortDescription}"></div>
			</div>
			<div class="col-sm-2">
				<div>
					<span th:if="${product.inStock == true}" class="text-success">In Stock</span>
					<span th:if="${product.inStock == false}" class="text-danger">Out of Stock</span>
				</div>
				<div class="my-3">
					<input type="text" size="5" value="1">
				</div>
				<div>
					<input type="button" value="Add to Cart" class="btn btn-primary">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<hr>
				<div>
					<h3>Product Description:</h3>
				</div>
				<div th:utext="${product.fullDescription}"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<hr>
				<div>
					<h3>Product Detail:</h3>
				</div>
				<th:block th:each="detail : ${product.details}">
					<div>
						<b>[[${detail.name}]]</b>
						<span>[[${detail.value}]]</span>
					</div>
				</th:block>
			</div>
		</div>
	</div>

	<div th:replace="product/images_carousel :: content"></div>

	<div th:replace="navigation :: footer_menu"></div>

	<script>
		$(document).ready(function() {
			bigImage = $("#bigImage");

			$(".image-thumbnail").click(function() {
				currentImageSrc = $(this).attr("src");
				currentImageIndex = $(this).attr("index");

				bigImage.attr("src", currentImageSrc);
				bigImage.attr("index", currentImageIndex);
			});

			bigImage.click(function() {
				imageIndex = parseInt(bigImage.attr("index"));
				$("#carouselExampleIndicators").carousel(imageIndex);

				$("#carouselModal").modal("show");
			});
		});
	</script>

</body>


</html>