<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col border m-3 p-2">
				<div><label for="">Main Image</label></div>
				<div class="m-2">
					<img id="thumbnail" th:src="@{${product.mainImagePath}}" class="img-fuild" alt="Main image preview">
				</div>
				<div>
					<input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" th:required="${product.id == null}">
				</div>
			</div>
		</div>
	</div>
</body>

</html>