<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Products - Shopme Admin')"></head>

<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>

        <div>
            <h2>Manage Products</h2>
            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                <a th:href="@{/products/new}" class="fa-solid fa-folder-plus fa-2x icon-dark mr-2"></a>
                <a th:href="@{/products/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a>
            </th:block>
        </div>

        <form th:action="@{/products/page/1}" id="searchForm" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">

            Category:
            <select class="form-control mx-2" name="categoryId" id="dropdownCategory">
                <option value="0">All Category</option>
                <option th:each="category : ${listCategories}" th:value="${category.id}"
                    th:selected="${categoryId == category.id}">
                    [[${category.name}]]
                </option>
            </select>

            Filter: &nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control">
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            &nbsp;&nbsp;
            <butotn type="button" class="btn btn-secondary" onclick="clearFilter();">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </butotn>
        </form>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div class="full-details">
            <table class="table table-bordered table-hover table-striped table-responsive-xl">
                <caption></caption>
                <thead class="thead-dark">
                    <tr>
                        <th class="hideable-column">
                        <th th:replace="fragments :: column_link('/products', 'id', 'ID', 'tag')"></th>
                        </th>

                        <th>Main Image</th>

                        <th th:replace="fragments :: column_link('/products', 'name', 'Product Name', 'none')"></th>

                        <th class="hideable-column">
                        <th th:replace="fragments :: column_link('/products', 'id', 'ID', 'tag')"></th>
                        </th>

                        <th class="hideable-column">
                        <th th:replace="fragments :: column_link('/products', 'brand', 'Brand', 'tag')"></th>
                        </th>

                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <th th:replace="fragments :: column_link('/products', 'enabled', 'Enabled', 'none')"></th>
                        </th:block>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td class="hideable-column">[[${product.id}]]</td>
                        <td>
                            <img th:src="@{${product.mainImagePath}}" class="img-fluid" style="width: 120px;"
                                alt="Product's image">
                        </td>
                        <td>
                            <a th:href="@{'/products/detail/' + ${product.id}}" class="link-detail"
                                th:title="${product.name}">[[${product.shortName}]]</a>
                        </td>
                        <td class="hideable-column">[[${product.brand.name}]]</td>
                        <td class="hideable-column">[[${product.category.name}]]</td>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <td>
                                <div
                                    th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})">
                                </div>
                            </td>
                        </th:block>
                        <td class="row" style="max-width: 150px;">
                            <div class="col-lg-2 ">
                                <a th:href="@{'/products/detail/' + ${product.id}}"
                                    class="link-detail fas fa-file-alt fa-2x icon-green"
                                    title="View detail of this product"></a>
                            </div>
                            <div class="col-lg-2">
                                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                                    <div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})">
                                    </div>
                                </th:block>
                            </div>
                            <div class="col-lg-2">
                                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                                    <div
                                        th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)">
                                    </div>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <div th:each="product : ${listProducts}" class="row my-3">
                <div class="col-4">
                    <img th:src="@{${product.mainImagePath}}" class="img-fluid" style="width: 80px;"
                        alt="Product's image">
                </div>
                <div class="col-8">
                    <div>
                        <a th:href="@{'/products/detail/' + ${product.id}}" class="link-detail"
                            th:title="${product.name}">[[${product.shortName}]]</a>
                    </div>
                    <div class="mt-2">
                        <a th:href="@{'/products/detail/' + ${product.id}}"
                            class="link-detail fas fa-file-alt fa-2x icon-green"
                            title="View detail of this product"></a>
                        &nbsp;
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                            <div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})"></div>
                            &nbsp;
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <div
                                th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)">
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments :: pagination('/products', 'products')"></div>

        <div th:replace="fragments :: footer"></div>

        <div th:replace="modal_fragments :: confirm_modal"></div>

        <div class="modal fade modal-fullscreen" id="detailModel">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/common_list.js}"></script>
    <script>
        moduleURL = "[[@{/products}]]";

        $(document).ready(function () {
            $(".link-delete").click(function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'product');
            });

            $(".link-detail").click(function (e) {
                e.preventDefault();
                linkDetailURL = $(this).attr("href");
                $("#detailModel").modal("show").find(".modal-content").load(linkDetailURL);
            });

            $("#dropdownCategory").change(function () {
                $("input[name='keyword']").val("");
                $("#searchForm").submit();
            });
        });
    </script>
</body>

</html>