<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Products - Shopme Admin')"></head>

<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>

        <div>
            <h2>Manage Products</h2>
            <a th:href="@{/products/new}" class="fa-solid fa-folder-plus fa-2x icon-dark mr-2"></a>
            <a th:href="@{/products/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a>
        </div>

        <div th:replace="fragments :: search_form_and_message('/products/page/1')"></div>

        <div class="full-details">
            <table class="table table-bordered table-hover table-striped table-responsive-xl">
                <caption></caption>
                <thead class="thead-dark">
                    <tr>
                        <th th:replace="fragments :: column_link('/products', 'id', 'ID', 'none')"></th>
                        <th>Main Image</th>
                        <th th:replace="fragments :: column_link('/products', 'name', 'Product Name', 'none')"></th>
                        <th th:replace="fragments :: column_link('/products', 'brand', 'Brand', 'none')"></th>
                        <th th:replace="fragments :: column_link('/products', 'category', 'Category', 'none')"></th>
                        <th th:replace="fragments :: column_link('/products', 'enabled', 'Enabled', 'none')"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td>[[${product.id}]]</td>
                        <td>
                            <img th:src="@{${product.mainImagePath}}" class="img-fluid" style="width: 120px;"
                                alt="Product's image">
                        </td>
                        <td>
                            <a th:href="@{'/products/detail/' + ${product.id}}" class="link-detail"
                                th:title="${product.name}">[[${product.shortName}]]</a>
                        </td>
                        <td>[[${product.brand.name}]]</td>
                        <td>[[${product.category.name}]]</td>
                        <td>
                            <div
                                th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})">
                            </div>
                        </td>
                        <td>
                            <a th:href="@{'/products/detail/' + ${product.id}}" class="link-detail fas fa-file-alt fa-2x icon-green"
                                title="View detail of this product"></a>
                            &nbsp;
                            <div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})"></div>
                            &nbsp;
                            <div
                                th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <div th:each="product : ${listProducts}" class="row my-3">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <div>[[${product.name}]]</div>
                    <div class="mt-2">
                        <div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})"></div>
                        &nbsp;
                        <div
                            th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments :: pagination('/products', 'products')"></div>

        <div th:replace="fragments :: footer"></div>

        <div th:replace="modal_fragments :: confirm_modal"></div>

        <div class="modal fade modal-fullscreen" id="detailModel">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/common_list.js}"></script>
    <script>
        moduleURL = "[[@{/products}]]";

        $(document).ready(function () {
            $(".link-delete").click(function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'product');
            });

            $(".link-detail").click(function (e) {
                e.preventDefault();
                linkDetailURL = $(this).attr("href");
                $("#detailModel").modal("show").find(".modal-content").load(linkDetailURL);
            });
        });
    </script>
</body>

</html>